<form class="form-inline" *ngIf="!authService.getUser()">
    <div class="form-group">
      <label for="username">User:&nbsp;(type&nbsp;<em>user</em>):&nbsp;</label>
      <input class="form-control" name="username" #username>
    </div>
    <div class="form-group">
      <label for="password">Password (type&nbsp;<em>password</em>):&nbsp;</label>
      <input class="form-control" type="password" name="password" #password> 
    </div>
    <a class="btn btn-default" (click)="login(username.value, password.value)">Entrar</a>
    {{ mensajeError }}
  </form>
  <a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>