  <div class="page-header">
    <div style="float: right; margin-top: 10px;">
      <select (change)="translate.use($event.target.value)">
        <option value=" es">Español</option>
        <option value=" fr">Frances</option>
        <option value=" en">Ingles</option>
      </select>
    </div>
      <div class= "container">
        <h1>Ruteo Simple</h1>
        <div class="navLinks">
          <a [routerLink]="['/home']">Home</a><br />
          <a [routerLink]="['/destino']">Destinos</a><br />
        </div>
      </div>
  </div>

  <<div class="row">
    <h1>
      {{ title }} <br /><b [innerHTML]="'HOLA' | translate"></b><br/><b> Venezuela</b>
    </h1>
  </div>
    <router-outlet></router-outlet>
  </div>

<hr class ="mb-5">

Fecha: {{ time | async }}     
