<div class="container content">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <span class="anchor" id="formLogin"></span>

          <!--fomr card login with validation feedback-->
          <div class="card card-outline-secondary">
              <div class="card-header">
                  <h1 class="mb-0">Whishlist</h1>
              </div>
              <div class="card-body">
                <app-form-destino-viaje (onItemAdded)="agregado(d)"></app-form-destino-viaje>
              </div>
          </div>
      </div>
  </div>
  
  <hr class="mb-5">
  
  <div class="row row-flex">
      <app-destino-viaje 
         *ngFor="let d of all; let i=index" 
          [destino]="d"
          [idx]="i"
          (onclicked)='elegido(d)'
      ></app-destino-viaje>
  </div>

  <hr class="mb-5">

  <div class="row row-flex">
    <h5>Actividad</h5>
    <ul>
       <li *ngFor="let u of updates;">{{u}}</li>
    </ul>
  </div>
</div>